body {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding: 50px 0;
}

.container {
  width: 100%;
  padding: 0 15px;

  @media screen and (min-width: 450px) {
    width: 450px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.time-count {
  background: #f1f1ed;
  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
  border-radius: 30px;
  padding: 15px;

  @media screen and (min-width: 768px) {
    width: 500px;
    padding: 75px 86px;
  }

  margin: 0 auto;
}

.time-count__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  color: #0babea;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
    font-size: 40px;
  }
}

.time-count__content {
  display: flex;
  justify-content: center;
}

.time-count__item {
  text-align: center;
}

.time-count__val {
  font-weight: 700;
  font-size: 25px;
  line-height: 22px;
  color: #5d71dd;

  @media screen and (min-width: 768px) {
    min-width: 81px;
    font-size: 70px;
    line-height: 82px;
  }
}

.time-count__separator {
  font-weight: 700;
  font-size: 25px;
  color: #5d71dd;
  margin: 0 20px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 74px;
    text-align: center;
    margin: 0 33px;
  }
}

.time-count__text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4d4d4d;
  display: block;
}

.end {
  font-size: 70px;
  font-weight: 700;
  color: red;
  text-align: center;
}
